<div class="card-container">
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b5.jpg" alt="Imagen 1">
            <div class="card-info">
                <h2>Información de la Imagen 1</h2>
                <p>Texto de la imagen 1</p>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b6.jpg" alt="Imagen 2">
            <div class="card-info">
                <h2>Información de la Imagen 2</h2>
                <p>Texto de la imagen 2</p>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b7.jpg" alt="Imagen 3">
            <div class="card-info">
                <h2>Información de la Imagen 3</h2>
                <p>Texto de la imagen 3</p>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b4.jpg" alt="Imagen 3">
            <div class="card-info">
                <h2>Información de la Imagen 4</h2>
                <p>Texto de la imagen 4</p>
            </div>
        </div>
    </a>
</div>